.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#e66464, #ffb83e);
  background-size: cover;
}
